.pagingButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: Arial, sans-serif;
}

.pagingButtons button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 5px;
    font-size: 20px;
    color: #000000;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.pagingButtons button.active {
    background-color: #FFB733;
    color: #FFFFFF !important;
    border-radius: 5px;
    font-weight: bold;
}

.pagingButtons button:disabled {
    color: #000000;
    cursor: not-allowed;
}

.pagingButtons button:hover:not(.active):not(:disabled) {
    color: #FFB733;
}
