<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dmdm.repository.dao.fight.ChatRoomDao">
    <insert id="insertChatRoom" useGeneratedKeys="true" keyProperty="fightId">
        INSERT INTO tbl_fight
        (fight_id, fight_title, send_user_id, receive_user_id)
        VALUES
        (null, #{C.fightTitle}, #{C.sendUserId}, #{C.receiveUserId})
    </insert>
    <update id="updateChatRoom">
        UPDATE tbl_fight
        SET
        win_user_id =
        CASE
        WHEN #{R.leftVote} &gt; #{R.rightVote} THEN send_user_id
        WHEN #{R.leftVote} &lt; #{R.rightVote} THEN receive_user_id
        ELSE "_DRAW"
        END,
        send_vote = #{R.leftVote},
        receive_vote = #{R.rightVote}
        WHERE fight_id = #{R.fightId}
    </update>
    <select id="findChattingRoom">
        SELECT
        F.*,
        U1.user_id AS send_id,
        U1.user_name AS send_name,
        U1.user_badge AS send_badge,
        U1.user_level AS send_level,
        U2.user_id AS receive_id,
        U2.user_name AS receive_name,
        U2.user_badge AS receive_badge,
        U2.user_level AS receive_level
        FROM tbl_fight AS F
        LEFT JOIN tbl_user U1 ON F.send_user_id = U1.user_id
        LEFT JOIN tbl_user U2 ON F.receive_user_id = U2.user_id
        WHERE win_user_id IS NULL
        <if test="fightId != null">
            AND fight_id = #{fightId}
        </if>
        <if test="start != null and amount != null">
            LIMIT #{start}, #{amount}
        </if>
    </select>
    <select id="findSendAndReceiveChattingRoom" resultType="boolean">
        SELECT COUNT(*)
        FROM tbl_fight
        WHERE send_user_id = #{send}
        AND receive_user_id = #{receive}
        AND win_user_id IS NULL
    </select>
</mapper>